@{
    ViewData["Title"] = "Welcome!";
}

<div style="width: 100%; padding: 5%;display: flex; flex-direction: column; align-items: center">
    <p style="color:aliceblue" class="display-5">Welcome to 'one-to-rule-em-all' hotel management app!</p>
    <br />
    
    <img src="~/img/homeBackground.png"
      style="width: 100%; z-index: -1;
        filter: blur(7px) brightness(75%); user-select: none;
        background-position: center; background-repeat: no-repeat; position: absolute; top: 0; left: 0"
    />
    
    <div style="column-count: 3; height: 70%; width: 50%; font-size: 1rem; z-index: 2; color:azure">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Ultricies lacus sed turpis tincidunt. Vitae congue mauris rhoncus aenean vel elit. Nibh sed pulvinar proin gravida hendrerit lectus a. Consectetur purus ut faucibus pulvinar elementum. Aenean euismod elementum nisi quis eleifend. Molestie at elementum eu facilisis sed odio morbi quis. Cursus vitae congue mauris rhoncus aenean vel. Interdum velit euismod in pellentesque massa placerat duis.</p>
      <br /><br />
      <b>Fermentum odio eu feugiat pretium nibh ipsum consequat. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam.Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Maecenas accumsan lacus vel facilisis volutpat. Rhoncus urna neque viverra justo nec ultrices dui. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Ornare massa eget egestas purus viverra accumsan in. Magna fermentum iaculis eu non diam. Interdum posuere lorem ipsum dolor sit. Leo vel fringilla est ullamcorper eget. Sit amet purus gravida quis blandit turpis cursus in hac. Quam pellentesque nec nam aliquam sem et tortor consequat.</b>
      <br /><br />
      <i>Risus nec feugiat in fermentum posuere urna. Purus in massa tempor nec feugiat nisl pretium fusce id. Nunc consequat interdum varius sit amet mattis. Adipiscing enim eu turpis egestas pretium aenean pharetra magna. Cras pulvinar mattis nunc sed blandit. Vitae et leo duis ut diam quam nulla porttitor massa. At lectus urna duis convallis. Odio aenean sed adipiscing diam donec. Aliquam etiam erat velit scelerisque in dictum. Vulputate eu scelerisque felis imperdiet proin fermentum leo. Tincidunt augue interdum velit euismod.</i>
    </div>
</div>

