@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="display: flex; justify-content: space-between; padding: 2% 0 1% 0">
    <h1>&nbsp;@ViewData["Title"]</h1>
</div>

<div style="width: 100%; display: flex; flex-direction: column; align-items: center">
    <h2>What policy..?</h2>
    <br /><br />
    <h4>We have none.</h4>
    <h4>We will</h4>
    <br />
    <h1 style="padding: 1% 5% 1% 5%; border: 0.3rem solid black">steal</h1>
    <h1 style="padding: 1% 5% 1% 5%; border: 0.1rem solid black">sell</h1>
    <h4>and</h4>
    <h1 style="padding: 1% 5% 1% 5%; border: 0.5rem solid black">expose</h1>
    <p style="font-size: 2rem;">your data to literally <i><b>everyone</b></i> who asks.</p>
    <br />
    <span style="font-size: 3rem"><u>Don't trust us!</u></span>

</div>

