@model oneWeb.Models.HotelModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: space-between; padding: 2% 0 1% 0">
    <h1>&nbsp;Add hotel</h1>
    @*<a asp-controller="Hotel" asp-action="Create" class="btn btn-primary">
        Add hotel
    </a>*@
</div>