@*viewmodel?*@
@model oneWeb.Models.HotelModel

@{
    ViewData["Title"] = "Delete hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: space-between; padding: 2% 0 1% 0">
    <h1>&nbsp;@ViewData["Title"]</h1>
</div>